/**
 * Violet palette.
 */

.light[data-palette="violet"] {
  --primary: oklch(0.506 0.265 292.86);
  --primary-foreground: oklch(0.985 0 0);
  --ring: oklch(0.506 0.265 292.86);
  --sidebar-primary: oklch(0.506 0.265 292.86);
  --chart-1: oklch(0.506 0.265 292.86);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

.dark[data-palette="violet"] {
  --primary: oklch(0.727 0.233 292.86);
  --primary-foreground: oklch(0.205 0 0);
  --ring: oklch(0.727 0.233 292.86);
  --sidebar-primary: oklch(0.727 0.233 292.86);
  --chart-1: oklch(0.727 0.233 292.86);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}
